<div class="box-custom">
<div class="login-wrapper" >

  <mat-card class="box" style="margin-top: 200px;">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
      <mat-card-title *ngIf="errorLogin" style="color:red; font-size: 15px;">Email or Password Incorrect</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="LoginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username" [ngClass]="{'is-invalid': submitted && LoginForm.controls.username.invalid}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [ngClass]="{'is-invalid': submitted && LoginForm.controls.username.invalid}" formControlName="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <input mat-stroked-button color="accent" type="submit" (click)="login()" class="btn-block" value="Log In">
      <p fxLayoutAlign="center center" >Don't have Account <a routerLink="/register"><b>register</b></a> </p>
    </form>
  </mat-card>

</div>
</div>
