.mr {
  margin-right: 5px;
}
.flex-custom{
  place-content: space-evenly !important;
  margin-top: 30px
}
.custom-table{
  margin-top: 30px;
  display: flex;
  justify-content: center;

}
table{
  width: 83%;
}
