<div class="box-custom">
  <div class="login-wrapper" >

    <mat-card class="box" style="margin-top: 200px;">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="RegisterForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': submitted && RegisterForm.controls.email.invalid}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username" [ngClass]="{'is-invalid': submitted && RegisterForm.controls.username.invalid}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [ngClass]="{'is-invalid': submitted && RegisterForm.controls.username.invalid}" type="password" formControlName="password">
          </mat-form-field>
        </mat-card-content>
        <input mat-stroked-button color="accent" type="submit" (click)="register()" class="btn-block" value="Register">
      </form>
    </mat-card>

  </div>
  </div>
